@use '@app/styles/index' as *;

.chip {
  padding: calc-rem(8) calc-rem(16);
  border: 1px solid $color-gray-300;
  border-radius: calc-rem(20);
  cursor: pointer;
  font-size: calc-rem(14);
  transition: all 0.2s;
  background-color: $color-white;
  color: $color-gray-700;
  text-align: center;

  &--active {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
  }

  &:hover:not(.chip--active) {
    border-color: $color-accent;
    color: $color-accent;
  }
}
