@use 'index' as *;

body {
  font-family: $font-family-main;
  font-size: calc-rem($font-size-base);
  background-color: $color-gray-100;
  color: $color-gray-900;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout__main {
  flex: 1;
}
